<!DOCTYPE html>
<html lang="es">
  <%- include('partials/head') %>
    <body>
      <%- include('partials/header') %>
        <div class="container products-wrapper">
          <div class="row">
            <div class="col-12">
              <h2 class="products-title">Ingresar</h2>
            </div>
            <form class="col-12 col-md-6" method="POST" action="/login/store">
              <div class="form-group">
                <label for="email">Email</label>
                <input required minlength="4" type="email" name="email" id="email" class="form-control" minlength="4">
              	<!-- Middlewars:  -->
                  <% if (locals.errors && errors.email) { %>
                  <div class="error-msg">
                    <%= errors.email.msg %>                                
                          
                  <% } %>  	
              </div>
              <div class="form-group">
                <label for="password">Contraseña</label>
                <input required minlength="4" type="password" name="password" id="password" class="form-control", value="<%= locals.oldData && oldData.email ? oldData.email : null %>">
 			          <!-- Middlewars:  -->
                  <% if (locals.errors && errors.password) { %>
                  <div class="error-msg">
                    <%= errors.password.msg %>                                
                          
                  <% } %>  	
                </div>  
              </div>
              <div class="form-group">
                <label for="remember">Recordarme</label>
                <input type="checkbox" name="remember" id="remember" v alue="false" />
              </div>
              <button type="submit" class="btn btn-primary">Ingresar</button>
            </form>
          </div>
        </div>
        <%- include('partials/footer') %>
    </body>

</html>