<!DOCTYPE html>
<html lang="es">
<%- include('partials/head') %>
  <body>
    <%- include('partials/header') %>
      <div class="container products-wrapper">
  
            <% for (let i = 0; i < producto.length; i++) { %>
          <div class="d-flex align-items-center">
          <h2 class="products-title">
              <%= producto[i].nombre %>
          </h2>
          <p class="product-detail-description">
            <a href="product-add.html">Editar</a>
          </p>
        </div>
        <div class="product-detail">
          <div class="row">
            <article class="col-12 col-lg-8 product-detail-info">
              <img src="<%= producto[i].imagen %>" alt="" class="product-detail-img">
              <p class="product-detail-description">
                <%= producto[i].descripcion %>
              </p>
            </article>
            <div class="col-12 col-lg-4">
              <section class="comments">
                <%for (let index=0; index < producto[0].comentarios.length; index++) {%>
                  <article>
                    <img src=<%=producto[i].comentarios[index].imagen%> alt="">
                    <div class="data">
                      <p class="user">
                        <strong><a href="/users/profile">
                            <%=producto[i].comentarios[index].nombre%>
                          </a></strong>
                        <%= producto[i].comentarios[index].comentario%>
                      </p>
                    </div>
                  </article>
                  <%}%>

              </section>
              <form class="form" action="" method="POST">
                <input class="form-input" type="text" value="" placeholder="Agregar comentario">
                <button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
              </form>
              <hr>
            </div>
          </div>
        </div>
      </div>
      <%- include('partials/footer') %>  
  </body>
</html>