<!DOCTYPE html>
<html lang="es">
<%- include('partials/head') %>
  <body>
    <% if(locals.user != undefined) { %>
      <%- include('./partials/headerLogueado.ejs') %>
  <% } else { %>
     <%- include('./partials/header.ejs') %>
  <% } %>
      <div class="container products-wrapper">
        <div class="row">
          <div class="col-12">
            <h2 class="products-title">Resultados de búsqueda que coincidan: Ordenados del mas reciente al menos</h2>
			<% if (products.length === 0) { %>
				<p>No hay resultados para su criterio de búsqueda.</p>
			<% } else { %>
          </div class="row">
		  <% for (let i = 0; i < products.length; i++) { %>
			<img src="<%= products[i].photo %>" class="card-img-top" alt="<%= products[i].producto %>">
              <div class="card-body">
                <h5 class="card-title"><%= products[i].producto %></h5>
                <p class="card-text"><strong>Descripción:</strong> <%= products[i].descripcion %></p>
                <p class="card-text"><strong>Usuario:</strong> 
					<a href="/profile/<%= products[i].usuario.nombre %>">
						<%= products[i].usuario.nombre %></a></p>
                <a href="/products/detalle/id/<%= products[i].id %>" class="btn btn-primary">Ver Detalle</a>

				</div>
						
				<%} %>
  			</div>
			<% } else {%> 
      
      </div>
      <%- include('partials/footer')%>
  </body>
</html>